.container{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container>.title{
    color:#6568f4;
    margin:10px;
    font-weight: bolder;
    
}



@media screen and (max-width:960px){
    .container{
        width:85%;
    }
}