.container{
    display: flex;
    width:100%;
}
.collection-preview {
    display: flex;
    flex-direction: column;
    width:90%;
    margin-bottom: 30px;
  
    .title {
        color: #6568f4;
        margin: 10px;
        font-weight: bolder;
      }
  
    .preview {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width:100%;
      
    }
  }
  
  @media only screen and (max-width: 900px) {
    
    .collection-preview{
      margin-bottom: 10px;
      
  
      .title{
        font-size: 20px;
        margin:10px;
      }
    }
  }
  